In [3]:
import pandas as pd
from src.paths import DATA_INPUTS

%load_ext autoreload
%autoreload 2

In [5]:
Order_rating_DB = pd.read_excel(DATA_INPUTS / 'Data Analyst _ Zé Delivery Data Base.xlsx', sheet_name='Order rating DB')
Bad_Rating_reasons = pd.read_excel(DATA_INPUTS / 'Data Analyst _ Zé Delivery Data Base.xlsx', sheet_name='Bad Rating reasons')
Rating_email_data = pd.read_excel(DATA_INPUTS / 'Data Analyst _ Zé Delivery Data Base.xlsx', sheet_name='Rating e-mail data')

In [6]:
Rating_email_data

             Origem de acesso ao site  Mês do ano  Visitas no Site  Transações
0  EmailAvaliacao / EmailTransacional          11               91          29
1  EmailAvaliacao / EmailTransacional          10              253          58
2  EmailAvaliacao / EmailTransacional           9              514          87
3  EmailAvaliacao / EmailTransacional           8              819         146
4  EmailAvaliacao / EmailTransacional           7             1396         301
5  EmailAvaliacao / EmailTransacional           6             1756         200
6  EmailAvaliacao / EmailTransacional           5             2379         169
7  EmailAvaliacao / EmailTransacional           4             2574         175
8  EmailAvaliacao / EmailTransacional           3             1559         112
9  EmailAvaliacao / EmailTransacional           2             1176          66